.labour-description{
    color: #747274;
    width: 70%;
    margin: 0.5%;
}

.labour-description p{
    text-indent: 5%;
}

.labour-name{
    font-weight: bolder;
}

.labour-datetime p{
    color: #747274;
    font-size: smaller;
}

.labour-rejected{
    background-color: #ff3e3e;
    color:ghostwhite;
    font-weight: bold;
}

.labour-list-img{
    width:100px;
    height: 100px;
}

#action-buttons{
    position: absolute;
    bottom: 0;
    right: 0;
}
