{% extends 'base.html' %}

{% block content-title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col">
            {% if messages_list %}
                {% for message in messages_list %}
                    {% if request.user.id == message.owner.user_id %}
                        <div class="row bg-secondary border border-dark rounded p-2 m-1 w-75 float-right justify-content-end">
                            <div class="col">
                                <p class="text-white w-auto">{{ message.content }}</p>
                            </div>
                            <div class="col w-25 m-0">
                                {% if message.is_read %}
                                    <p class="text-right absolute-bottom"> Read </p>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row bg-info border border-dark rounded p-2 m-1 w-75 justify-content-start">
                            <p class="text-center w-auto">{{ message.content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div>
                    <h3 class='text-center'>
                        There's no chat messages yet.
                    </h3>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row m-3 p-3">
        <form action="{% url 'chat_display' labour_id %}" method="post">
            {% csrf_token %}
            <div class="col">
                <div class="row">
                    <div class="col">
                        {{ chat_message_form.content }}
                    </div>
                    <div class="col text-center w-50">
                        <button class="btn btn-success text-center p-4" type="submit"> Send message </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}