{% extends 'base.html' %}
{% load static %}

{% block load_css %}
        <link rel="stylesheet" type="text/css" href={% static 'portal/../static/css/labour_list.css' %}>
{% endblock %}

{% block content-title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="col">
        {% for chat in chat_list %}
            <div class="row border border-dark rounded p-3 m-3">

                <div class="col">
                    <div class="row">
                        {% if chat.labour.creator.user.id == request.user.id %}
                            <p class="font-weight-bold">{{ chat.labour.worker.user.first_name }} {{ chat.labour.worker.user.last_name }}</p>
                        {% else %}
                            <p class="font-weight-bold">{{ chat.labour.creator.user.first_name }} {{ chat.labour.creator.user.last_name }}</p>
                        {% endif %}

                    </div>
                    <div class="row ml-3">
                        <p class="font-weight-light">{{ chat.last_message }}</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><a href="{% url 'chat_display' id=chat.labour.id %}" class="btn btn-success text-center"> ENTER </a></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}