{% extends 'base.html' %}

{% block content-title %}
    {{ worker.user.first_name }}'s services request
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ labour_request_form|crispy }}
        <input type="file" name="images" class="form-control-file" id="note-image" multiple>

        <button type="submit" class="btn btn-outline-secondary">
            Send request
        </button>
        <button class="btn btn-outline-secondary" onclick="javascript:history.back();">
            Cancel
        </button>

    </form>
{% endblock %}