{% extends 'base.html' %}

{% load static %}

{% block load_css %}
    <!-- <link rel="stylesheet" href="{% static 'css/profile.css' %}"/> -->
{% endblock %}

{% block title %}
    {{ labour.title }}
{% endblock %}

{% block content %}
    <div class="row" id="title">
        <div class="col">
            <div class="row" id="title">
                <h3>
                    {{ labour.title }}
                </h3>
            </div>
            <div class="row" id="labour-creator-name">
                <h4>
                    {{ labour.creator.user.first_name }} {{ labour.creator.user.last_name }}
                </h4>
            </div>
        </div>

        <div class="col" id="buttons">
            <div class="row">
                <a href="" class="btn btn-success text-center">
                    BUTTON LABOUR
                </a>
            </div>
        </div>
    </div>

    <div class="row" id="pictures-carousel">
        <div class="col">
            <div class="row" id="carousel">
                {% for picture in pictures %}
                    <div>

                    </div>
                {% endfor %}
            </div>
            <div class="row" id="carousel-buttons">
                <div class="col" id="turn-left">
                    <a href="" class="btn btn-success text-center">
                        TURN LEFT
                    </a>
                </div>
                <div class="col" id="turn-right">
                    <a href="" class="btn btn-success text-center">
                        TURN RIGHT
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="description">
        <div class="col">
            <div class="row" id="start-finish-datetimes">
                <p> {{ labour.start_datetime }} - {{ labour.finish_datetime }} </p>
            </div>
            <div class="row" id="description">
                <p> {{ labour.description }} </p>
            </div>
        </div>
        <div class="col">
            <div class="row" id="labour-price">
                {{ labour.price }}
            </div>
            <div class="row" id="labour-request-offer">
                <a href="" class="btn btn-success text-center">
                    BUTTON OFFER LABOUR
                </a>
            </div>
        </div>
    </div>
    <div class="row" id="ratings">
        <div class="col">
            <div class="row" id="rating-worker">
                {{ worker_rating }}
            </div>
            <div class="row" id="rating-creator">
                {{ client_rating }}
            </div>
        </div>
    </div>
{% endblock %}