{% extends 'base.html' %}
{% load static %}

{% block load_css %}
        <link rel="stylesheet" type="text/css" href={% static 'portal_empleo/css/labour_list.css' %}>
{% endblock %}
{% block content-title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="col">
    {% if labour_request_list %}

        {% for labour_request in labour_request_list %}
            <div class="row border border-dark rounded p-3 m-3">
                <div class="col">
                    <div class="row labour-name">
                        <p class="text-center"> {{ labour_request.worker.user.first_name }} </p>
                    </div>

                    <div class="row labour-description">
                        <p class="w-100 p-3"> {{ labour_request.description}} </p>
                    </div>

                    <div class="row">
                        <div class="col">
                            <a href="{% url 'chat_display' id=labour_request.id %}" class="btn btn-success text-center"> CHAT </a>
                        </div>

                        {% if labour_request.state == 'PENDING'  and labour_request.worker.user.id == request.user.id%}
                            <div class="col">
                                <a href="{% url 'labour_accept' id=labour_request.id %}" class="btn btn-success text-center"> ACCEPT LABOUR </a>
                            </div>
                            <div class="col">
                                <a href="{% url 'labour_reject' id=labour_request.id %}" class="btn btn-danger text-center"> REJECT LABOUR </a>
                            </div>

                        {% elif labour_request.state == 'IN_PROCESS' and labour_request.worker.user.id == request.user.id %}
                            <div class="col">
                                <a href="{% url 'labour_worker_finish' id=labour_request.id %}" class="btn btn-danger text-center"> FINISH LABOUR AS WORKER </a>
                            </div>
                            <div class="col">
                                <a href="{% url 'labour_cancel' id=labour_request.id %}" class="btn btn-danger text-center"> CANCEL </a>
                            </div>


                         {% elif labour_request.state == 'IN_PROCESS' and labour_request.creator.user.id == request.user.id %}
                            <div class="col">
                                <a href="{% url 'labour_client_finish' id=labour_request.id %}" class="btn btn-danger text-center"> FINISH LABOUR AS CLIENT </a>
                            </div>


                        {% elif labour_request.state == 'END_WORKER' and labour_request.creator.user.id == request.user.id %}
                            <div class="col">
                                <a href="{% url 'labour_total_finish' id=labour_request.id %}" class="btn btn-danger text-center"> CONFIRM FINISH LABOUR </a>
                            </div>

                        {% elif labour_request.state == 'END_CLIENT' and labour_request.worker.user.id == request.user.id %}
                            <div class="col">
                                <a href="{% url 'labour_total_finish' id=labour_request.id %}" class="btn btn-danger text-center"> CONFIRM FINISH LABOUR </a>
                            </div>

                        {% elif labour_request.state == 'FINISHED' %}

                            {% if labour_request.creator.user.id == request.user.id and not labour_request.workerrating %}
                                <div class="col">
                                    <a href="{% url 'worker_rating_create' id=labour_request.id %}" class="btn btn-danger text-center"> RATE WORKER </a>
                                </div>

                            {% elif labour_request.worker.user.id == request.user.id and not labour_request.clientrating %}
                                <div class="col">
                                    <a href="{% url 'client_rating_create' id=labour_request.id %}" class="btn btn-danger text-center"> RATE CLIENT </a>
                                </div>
                            {% endif %}


                        {% elif labour_request.state == 'REJECTED'%}
                            <p class="text-light bg-danger rounded p-1 text-center"> REJECTED </p>
                        {% endif %}
                    </div>

                    <div class="row labour-dates_down mt-2">
                        <div class="col">
                            {% if labour_request.start_datetime %}
                                <div class="row labour-datetime">
                                    <p> It has started: {{ labour_request.start_datetime }}</p>
                                </div>
                            {% endif %}

                            {% if labour_request.finish_datetime %}
                                <div class="row labour-datetime">
                                    <p> It has finished: {{ labour_request.finish_datetime }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>
            <h3 class='text-center'>
                There's no labours right now.
            </h3>
        </div>
    {% endif %}

    </div>
{% endblock %}