{% extends 'base.html' %}

{% block content-title %}
    {{ rated.user.first_name }}'s review
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form action="{% url 'worker_rating_create' labour_id %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <p>
            <input type="submit" class='btn btn-outline-secondary' value="Save changes">
        </p>
        <button class="btn btn-outline-secondary" onclick="javascript:history.back();">Cancel</button>


    </form>
{% endblock %}